a:hover{
  text-decoration: none;
  color: white;
}
footer{
  background: #000000;
  color: #ececec;
  margin-top: 20px;
  width: 100%;
}
footer a {
  color: #20a30e;
  font-weight: bolder;
}
footer .col-sm-4{
  padding-left: 30px;
}
.card-product{
  flex: 1 250px;
  margin-bottom: 15px;
}
.banner{
 width: 100%;
}
.banner-content{
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
  color: white;
  background-color: rgba(0, 0, 0, 0.82);
}
.jumbotron{
  margin-top: 50px;
  background-color: #1aa305;
}
.jumbotron > h1{
  color: white;
}
.jumbotron > .lead{
  font-weight: bolder;
}

.btn-product{
  background-color: #20a30e;
  border: #20a30e;
  position: relative;
  width: 100%;
  border-radius: 0px;
}
.btn-product:hover{
  background-color: #006316;
}
.tab-pane{
  padding-top: 15px;
}
