$green: #20a30e;
$darkgreen: #094917;
$lightgreen: #111111;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
  @include margenes(50px, 0px);
}

a:hover{
  text-decoration: none;
  color: white;
}
footer{
  background: #000000;
  color: #ececec;
  margin-top: 20px;
  width: 100%;
}
footer a {
  color: $green;
  font-weight: bolder;
}
footer .col-sm-4{
  padding-left: 30px;
}
.card-product{
  flex: 1 250px;
  margin-bottom: 15px;
}
.banner{
 width: 100%;
}
.banner-content{
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
  color: white;
  background-color: rgba(0, 0, 0, 0.82);
}
.jumbotron{
  margin-top: 50px;
  background-color: $lightgreen;
}
.jumbotron > h1{
  color: white;
}
.jumbotron > .lead{
  font-weight: bolder;
}

.btn-product{
  background-color: $green;
  border: $green;
  position: relative;
  width: 100%;
  border-radius: 0px;
}
.btn-product:hover{
  background-color: $darkgreen;
}
.tab-pane{
  padding-top: 15px;
}
